        // .carousel-item {
        @media screen and (max-width:900px) {
            .container-body {
                margin-top: 30px;
                height: 60vh;
            }
            .carousel-item {
                img {
                    height: 60vh;
                }
            }
        }