    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    section {
        padding: 1em 0;
        text-align: center;
    }
    
    .color-3 {
        background-color: rgb(141, 7, 7);
        border-radius: 40px;
    }
    
    .kapsa {
        position: relative;
        min-height: 150px;
        .container-footer {
            position: absolute;
            bottom: 50px;
            justify-content: end;
            nav a {
                position: relative;
                display: inline-block;
                margin: 0px 0px;
                outline: none;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
                font-size: 1.5vw;
            }
            nav a:hover,
            nav a:focus {
                outline: none;
            }
        }
    }
    
    .nav-19 a {
        padding: 5px;
        text-shadow: -1px 1px 8px #fff;
    }
    
    .nav-19 a::after,
    .nav-19 a::before {
        position: absolute;
        content: "";
        opacity: 1;
        width: 0;
        height: 2px;
        background-color: #fff;
        -webkit-transition: width 0.4s 0.1s;
        -moz-transition: width 0.4s 0.1s;
        transition: width 0.4s 0.1s;
    }
    
    .nav-19 a::after {
        top: 94%;
        left: 0;
    }
    
    .nav-19 a::before {
        top: 0;
        right: 0;
    }
    
    .nav-19 a:hover::after,
    .nav-19 a:hover::before {
        width: 100%;
    }