                        // body {
                        //     font-family: 'RocknRoll One', sans-serif;
                        //     width: 100%;
                        // }
                        .nav-list {
                            border-radius: 30px;
                            text-align: center;
                            height: 40px;
                            margin-top: -5px;
                            display: inline-block;
                            a {
                                color: white;
                                &:hover {
                                    text-decoration: none;
                                    background-color: red;
                                }
                            }
                        }
                        
                        .open-menu {
                            // width: 83.455vw;
                            background-color: rgb(141, 7, 7);
                            min-width: 450px;
                            height: 60px;
                            padding: 0;
                            margin: 0px 0px 10px 0px;
                            border: solid 5px black;
                            ul {
                                li {
                                    margin-top: 2px;
                                    list-style: none;
                                    position: relative;
                                    display: block;
                                    width: 90px;
                                    a {
                                        color: white;
                                        text-decoration: none;
                                        display: block;
                                        width: 80px;
                                        height: 40px;
                                        line-height: 40px;
                                        border: solid 1px red;
                                        border-radius: 10%;
                                        // &:hover {
                                        //     text-decoration: none;
                                        //     background-color: red;
                                        // }
                                    }
                                }
                            }
                        }
                        
                        .opennavbar {
                            display: none;
                            background: darkred;
                            height: 140px;
                            line-height: 140px;
                            border-radius: 10%;
                            li {
                                margin-left: -35px;
                                margin-top: 5px;
                            }
                        }
                        
                        .open-menu ul li:hover .opennavbar {
                            display: block;
                            position: absolute;
                            z-index: 9;
                            width: 90px;
                            text-align: center;
                        }
                        
                        .nav-list {
                            display: flex;
                            a {
                                text-align: center;
                            }
                        }
                        
                        i.fa-chevron-down {
                            display: flex;
                            display: inline-block;
                        }
                        
                        .search {
                            margin-top: -20px;
                        }
                        
                        .search input[type=text] {
                            padding: 6px;
                            font-size: 17px;
                            border: none;
                        }
                        
                        .search input {
                            position: relative;
                            margin-left: 250px;
                        }
                        
                        .search [type=submit] {
                            border: 1px solid white;
                            width: 50px;
                            height: 35px;
                            color: white;
                            border-radius: 10%;
                            background-color: darkred;
                        }
                        
                        .searchbutton {
                            &:hover {
                                background-color: red;
                            }
                        }
                        
                        .fa-search {
                            position: absolute;
                            margin-top: 12px;
                            margin-left: -40px;
                        }
                        
                        // USER ENTRY
                        .signin {
                            margin: -5px auto auto auto;
                            padding: 5px;
                            display: inline-block;
                            height: 40px;
                            width: 100px;
                            color: white;
                            ul {
                                display: flex;
                                li {
                                    a {
                                        border: none;
                                        width: 36px;
                                        height: 31px;
                                        display: inline-block;
                                        margin: 0 auto;
                                        &:hover {
                                            color: red;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .topnav {
                            display: none;
                        }
                        
                        @media screen and (max-width: 1000px) {
                            .search {
                                display: none;
                            }
                        }
                        
                        // HAMBURGER MENU
                        @media screen and (max-width: 600px) {
                            .topnav {
                                margin: 0 auto;
                                background-color: white;
                                display: block;
                                max-width: 480px;
                                margin-top: -60px;
                                background-color: white;
                                height: 450px;
                                color: white;
                                border-radius: 10px;
                                a {
                                    color: white;
                                }
                            }
                            .topnav {
                                overflow: hidden;
                                background-color: rgb(141, 7, 7);
                                position: relative;
                            }
                            .topnav #myLinks {
                                display: none;
                            }
                            .topnav a {
                                color: white;
                                padding: 14px 16px;
                                text-decoration: none;
                                font-size: 17px;
                                display: block;
                            }
                            .topnav a.icon {
                                background-color: rgb(141, 7, 7);
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                            .topnav a:hover {
                                background-color: red;
                                text-decoration: none;
                                color: black;
                            }
                            .active {
                                background-color: rgb(141, 7, 7);
                                color: white;
                            }
                            .open-menu {
                                display: none;
                            }
                        }
                        
                        // Couresel
                        .carousel-inner img {
                            margin: 0 auto;
                            display: block;
                            width: 90%;
                            height: 600px;
                        }
                        
                        .carousel-control-prev-icon,
                        .carousel-control-next-icon {
                            background-color: red;
                        }
                        
                        .carousel-control-prev-icon,
                        .carousel-control-next-icon {
                            background-color: red;
                        }
                        
                        // Responsive Tasarım
                        @media screen and (max-width: 1200px) {
                            .search input {
                                margin-left: 10px;
                            }
                        }
                        
                        @media screen and (max-width: 600px) {
                            .open-menu {
                                opacity: 0;
                                ul {
                                    display: none;
                                }
                            }
                        }
                        
                        @media screen and (max-width: 1200px) {
                            .open-menu {
                                width: 100%;
                                margin: 0 auto;
                                .signin {
                                    margin-left: -30px;
                                }
                            }
                        }